@{
    ViewData["Title"] = "Панель керування";
}


    <table class="col-lg-3">
        <tr>
            <td class="col-lg-1"><a asp-controller="Company" asp-action="Index"><img src="~/images/" /> Компанії</a></td>
            <td class="col-lg-1"><a asp-controller="Employee" asp-action="Index"><img src="~/images/users_icon2.png" width="128" height="128" /> Співробітники</a></td>
            <td class="col-lg-1"><a asp-controller="Departament" asp-action="Index"><img src="~/images/departaments_icon1.png" width="128" height="128" /> Відділи</a></td>
        </tr>
        <tr><td class="col-lg-1"><hr /></td>
        <td class="col-lg-1"><hr /></td>
        <td class="col-lg-1"><hr /></td></tr>
        <tr>
            <td class="col-lg-1"><a asp-controller="Roles" asp-action="Index"><img src="~/images/roles_icon2.png" width="128" height="128" /> Компанії</a></td>
            <td class="col-lg-1"></td>
            <td class="col-lg-1"></td>
        </tr>
    </table>
